{% extends "OCPlatformBundle::layout.html.twig" %}
{% block title %}
Accueil - {{ parent() }}
{% endblock %}
{% block ocplatform_body %}
<h2>Liste des annonces</h2>
<div>
    {% for advert in listAdverts %}
        <div>
            <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}"><br>
            par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}<br>
            <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
            <div class="well">{{ advert.title }}</a><br>
        {% if not advert.categories.empty %}
            Catégories :
            {% for category in advert.Categories %}
                {{ category.name }}{% if not loop.last %}, {% endif %}{% endfor %}
        {% endif %}<br>
        
        {% for advertSkill in advert.advertSkills %}
            {{ advertSkill.skill.name }} - {{ advertSkill.level }}<br>
        {% endfor %}
            </div><br>
        </div>
    {% else %}
            <div class="well">Pas (encore !) d'annonces</div>
    {% endfor %}
</div>
<ul class="pagination">
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}